.md-form .prefix{
    left: 0;
    top: 12px;
    color: #fff;
}

h3 {
    color: #fff;
}

.in {
    color: #fff;
}

button {
    display:inline-block;
    padding:0.5em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0.5em 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    background-color:rgb(175, 175, 175);
    border-color: #000;
}
@media all and (max-width:30em){
     button{
    display:block;
    margin:0.4em auto;
    }
}
